
/* ================================= 
  Base Element Styles
==================================== */

* {
    box-sizing: border-box;
}

body {
    font-family: Merriweather, Verdana, Geneva, Tahoma, sans-serif;
    color: #2d3945;
    line-height: 1.5;
}

button {
    background: #4ebbb5;
    border: none;
    width: 100%;
    text-align: center;
    color: white;
    padding: 1em 2px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 1.2em;
}


/* ================================= 
  Base Layout Styles
==================================== */


/* ---- Header ---- */

.main-header {
    background-color: #2d3945;
    padding: 2em 0;
}

.title {
    color: white;
    text-transform: uppercase;
    margin: auto;
    text-align: center;
}


/* ---- Footer ---- */

footer {
    margin: 2em 0;
}

.footer_text {
    text-align: center;
    color: #75808b;
    font-style: italic;
}

/* ---- Layout Containers ---- */

.container {
    padding-right: 1em;
    padding-left: 1em;
}


/* ---- Page Elements ---- */

.intro {
    text-align: center;
    border-bottom: 5px solid #2d3945;
    padding: 2em 0;
}

.intro_title {
    font-size: 1.5em;
}

.intro_text {
   color: #75808b;
}



/* ================================= 
  Form styles
==================================== */
  
.form_section {
    margin: 2em 0;
    display: flex;
    flex-direction: column;
}

fieldset legend {
    font-size: 1.5em;
    font-weight: bolder;
}

.form_section {
    margin-top: 5px;
    border-top: #2d3945 solid 2px;
}

label > input {
    margin: 0.8em 0;
}

label:empty {
    margin-bottom: 100em;
}

legend {
    margin-bottom: 1em;
}

input[type='checkbox'] + label{
    background-color: #000;
  }



input::placeholder {
      text-align: right;
      font-style: italic;
      font-size: 0.8em;
      color: rgba(0,0,0,0.2);
  }


input[type=text],
input[type=email],
input[type=tel],
select,
textarea{
    width: 100%;
    background-color: #e8eeef;
    border: none;
    border-radius: 5px;
    padding: 15px;
}

textarea {
    resize: none;
}

input:focus,
select:focus {
    outline: none;
    border: 2px solid #3a4971;
}

#zip_code {
    width: 50%;
}


/* ================================= 
  Media Queries
==================================== */

/* >Desktop Size */
@media (min-width: 768px) {

    .container {
        max-width: 70%;
        margin: auto;
    }

    .contact-fields {
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
        align-items: center;
        justify-content: space-between;
    }

    .contact-fields label {
        flex: 1 0 20%;
    }

    .contact-fields input[type=text],
    .contact-fields input[type=tel],
    .contact-fields input[type=email],
    .contact-fields select{
        flex: 1 0 80%;
        margin-bottom: 2em;
    }

    .contact-fields legend {
        flex: 1 0 100%;
    }

    #zip_code {

    }
    


.test {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
}


}

