
/* =================================
  Base Element Styles
==================================== */

* {
    box-sizing: border-box;
}

body {
    font-family: Merriweather, Verdana, Geneva, Tahoma, sans-serif;
    color: #2d3945;
    line-height: 1.5;
}

button {
    background: #4ebbb5;
    border: none;
    width: 100%;
    text-align: center;
    color: white;
    padding: 1em 2px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 1.2em;
}

fieldset {
    padding: 0;
    margin: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='50' fill='%23808080'><polygon points='0,0 100,0 50,50'/></svg>");
    background-position: center right 8px;
    background-repeat: no-repeat;
    background-size: 12px;
    border-radius: 0;
  }


/* =================================
  Base Layout Styles
==================================== */


/* ---- Header ---- */

.main-header {
    background-color: #2d3945;
    padding: 2em 0;
}

.title {
    color: white;
    text-transform: uppercase;
    margin: 0.5em 0;
    text-align: center;
}


/* ---- Footer ---- */

footer {
    margin: 2em 0;
}

.footer_text {
    text-align: center;
    color: #75808b;
    font-style: italic;
}

/* ---- Layout Containers ---- */

.container {
    padding-right: 1em;
    padding-left: 1em;
}


/* ---- Page Elements ---- */

.intro {
    text-align: center;
    border-bottom: 5px solid #2d3945;
    padding: 2em 0;
}

.intro_title {
    font-size: 1.5em;
}

.intro_text {
   color: #75808b;
}



/* =================================
  Forms
==================================== */


/* Form elements */


fieldset legend {
    font-size: 1.5em;
    font-weight: bolder;
}

label > input {
    margin: 0.8em 0;
}

input[type=text],
input[type=email],
input[type=tel],
select,
textarea{
    width: 100%;
    background-color: #e8eeef;
    border: none;
    border-radius: 5px;
    padding: 15px;
}

input:focus,
select:focus {
    outline: none;
    border: 2px solid #3a4971;
}

textarea {
    resize: none;
}

/* Form layout styles */


.form_section {
    margin: 5px 0 2em 0;
    border-top: #2d3945 solid 2px;
    display: flex;
    flex-direction: column;
}

.form_section > legend {
    margin: 1em 0;
}

input::placeholder {
      text-align: right;
      font-style: italic;
      font-size: 0.8em;
      color: rgba(0,0,0,0.2);
}

.contact-fields label {
    margin: 1em 0;
}

.label {
    margin: 1em 0;
}

#zip_code {
    width: 50%;
}


/* Form transtions */
input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus { 
    background: linear-gradient(to bottom,  #e8eeef 50%, white 50%);
    background-size: 100% 200%;

}
input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus { 
    transition: all .15s ease-out;
    background-position: 0 -100%;
}



/* =================================
  Media Queries
==================================== */

/* Desktop Size */
@media (min-width: 768px) {

    .container {
        max-width: 70%;
        margin: auto;
    }

    .contact-fields {
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }

    .contact-fields label {
        flex: 0 0 20%;
    }

    .contact-fields input[type=text],
    .contact-fields input[type=tel],
    .contact-fields input[type=email],
    .contact-fields select{
        flex: 1 0 80%;
        margin: 1em 0;
    }

    .contact-fields legend {
        flex: 1 0 100%;
        display: block;
    }

    #zip_code {
        flex: 0 0 40%;
    }

}

